body {
  background: #ededed;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.Gradient {
  background: rgb(6, 182, 212);
  background: linear-gradient(
    0deg,
    rgba(6, 182, 212, 0.09987745098039214) 4%,
    rgba(6, 182, 212, 1) 42%,
    rgba(59, 130, 246, 1) 79%
  );
}
.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2f80ed, #56ccf2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
