body {
  //background: #ededed;
  background: #f1f5f9;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.Gradient {
  background: rgb(115, 208, 251);
  background: linear-gradient(
    0deg,
    rgba(115, 208, 251, 0.09987745098039214) 0%,
    rgba(107, 136, 210, 1) 32%,
    rgba(44, 27, 108, 1) 79%
  );
}
.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2f80ed, #56ccf2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.CustomBg {
  --tw-bg-opacity: 1;
  background-color: rgb(44 27 108 / var(--tw-bg-opacity));
}
.GradientTwo {
  background: rgb(74, 47, 173);
  background: linear-gradient(0deg, rgba(74, 47, 173, 0.9430147058823529) 22%, rgba(44, 27, 108, 1) 89%);
}
.CustomShadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.Instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.CustomShadowBox {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.CustomToast {
  button {
    width: auto;
    height: auto;
  }
}
