.mainContainer {
  @media (max-width: 610px) {
    flex-direction: column;
  }

  ul {
    li {
      font-weight: bold;
      font-size: 0.9rem;
    }
  }

  .profilePicContainer {
    @media (max-width: 610px) {
      display: none;
    }
  }

  .profileInfo {
    @media (min-width: 610px) {
      display: none;
    }
  }

  .inputContainer {
    .subInput-cont {
      display: flex;
      padding: 1rem 0;
      border-bottom: 1px solid lightgray;
      align-items: center;

      @media (max-width: 610px) {
        justify-content: space-evenly;
      }

      input {
        border-radius: 10px;
        border: 1px solid lightgray;
        padding: 0.4rem;
        text-align: left;
      }
      p {
        width: 10rem;
        font-size: 0.9rem;
      }
    }
  }
  .profilePicMod {
    p {
      font-size: 0.9rem;
    }
    span {
      font-size: 0.8rem;
      --tw-text-opacity: 1;
      color: rgb(107 114 128 / var(--tw-text-opacity));
    }
  }
  .profileModPicButton {
    display: flex;
    button {
      font-size: 0.8rem;
      font-weight: bold;
      width: 5rem;
    }
  }
}
